env/
# React Frontend
client/node_modules/
client/build/
client/.env

# Flask Backend
server/__pycache__/
server/models/__pycache__/
server/*.pyc
server/instance/

# General
.DS_Store
# Removing this from gitignore bc its a private repo .env
