#trip_list {
    position: absolute;
    width: 100%;
    top: 500px;
}

.trip_entry {
    position: relative;
    width: 80%;
    left: 10%;
    background: #FFFDF4;
    border: 2px solid #000000;
    border-radius: 50px;
    overflow: hidden;
    line-height: 150%;
}

.trip_entry_header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid black;
    font-size: 32px;
    line-height: 150%;
}


.trip_entry_list_container {
    width: 46%;
    margin-left: 20px;
    float: left;
}

.trip_entry_list_header {
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    border-bottom: 3px solid black;
}

.trip_entry_list {
    font-size: 24px;
    line-height: 150%;
}

.trip_entry_nutrition_container {
    width: 46%;
    margin-right: 20px;
    float: right;
}

.trip_entry_nutrition_header {
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    border-bottom: 3px solid black;
}

.trip_entry_nutrition {
    font-size: 20px;
    line-height: 150%;
}

.trip_entry_divline {
    position: absolute;
    width: 0px;
    top: 60px;
    height: calc(95% - 60px);
    left: 50%;
    border: 2px solid black;
}