<!DOCTYPE html>
<html>
    <head>
        <!-- <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'> -->
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <title></title>


    </head>
    <body>
    {% if current_user.is_authenticated %}
        <div id="nav_header">
            <div id="nav_site_name" class="nav_page_text">Grocery Finder App</div>
            <div id="nav_flex_box">
                <div id="nav_grocery_finder" class="nav_page_text nav_selected_text">Grocery Finder</div>
                <div id="nav_history" class="nav_page_text">History</div>
                <div id="nav_summary_goals" class="nav_page_text">Summary/Goals</div>
                <div id="nav_logout_button" class="click_button">
                    <a href="{{ url_for('auth.logout') }}">
                        <div id="nav_logout_text" class="click_button_text">Log Out</div>
                    </a>
                </div>
            </div>
        </div>

        <div id="description_flex_box">
            <div id="description_header">Grocery Finder</div>
            <div id="description_text">
                Enter your location to get a summary of nearby groceries, 
                prioritized by best nutrition-per-dollar. Use the filter 
                options to specify what types of groceries you're looking for.
            </div>
        </div>


        <div id="search_location_section">
            <div id="search_location_bar"></div>
            <div id="search_location_header">Search Location</div>
            <div id="search_location_divline"></div>
            <div id="search_location_entry"></div>
            <input type="text" id="search_location_entrytext" placeholder="... [Ex: Ann Arbor]">
        </div>

        <div id="search_enter_button" class="click_button">
            <a href="{{ url_for('kroger') }}" class="click_button_text">Enter</a>
        </div>


        <div id="list_of_items">
            <!--
            <div class="item left">
                <div class="item_contents">
                    <h3 class="item_header">Granny Smith Apples</h3>
                    <p class="item_text">e</p>
                </div>
            </div>
            <div class="item right">
                <div class="item_contents">
                    <h3 class="item_header">Granny Smith Apples</h3>
                    <p class="item_text">e</p>
                </div>
            </div>
            -->
        </div>



        <script>
            var MY_LEFT = true;
            var item_box = document.getElementById("list_of_items");
            var construct_item = function(product_entry) {
                // Creat main item box
                var item = document.createElement("div");
                item.classList.add("item");
                if (MY_LEFT) {
                    item.classList.add("left");
                }
                else {
                    item.classList.add("right");
                }
                MY_LEFT = !MY_LEFT;

                // Add item contents
                var item_contents = document.createElement("div");
                item_contents.classList.add("item_contents");

                var item_header = document.createElement("h3");
                item_header.classList.add("item_header");
                item_header.innerHTML = product_entry["Product name"];

                var item_img = document.createElement("img");
                console.log(product_entry["image"])
                item_img.src = product_entry["image"];


                var item_text = document.createElement("p");
                item_text.classList.add("item_text");
                item_text_str = "";
                item_text_str += "<u><strong>Our health rating: " + 
                    product_entry["Health score"].toFixed(2) + "</strong></u><br>";
                item_text_str += "<u><strong>Our cost rating: " + 
                    product_entry["Cost score"].toFixed(2) + "</strong></u><br>";
                
                item_text_str += "<strong>Store: </strong>" + product_entry["Store name"] + "<br>";
                item_text_str += "<strong>Cost: </strong>$" + 
                    product_entry["Product cost"] + "<br><br>";
                item_text_str += "<strong>Nutrititon highlights:</strong>";
                    item_text_str += "<ul>";
                for (let i = 0; i < product_entry["Nutrititon highlights"].length; i++) {
                    component = product_entry["Nutrititon highlights"][i];
                    item_text_str += "<li><strong>" + component[0] + ":</strong> "
                        + (component[1]).toFixed(1) + "% Daily Value";
                }
                item_text_str += "</ul>";
                item_text.innerHTML = item_text_str;

                item_box.appendChild(item);
                item.appendChild(item_contents);
                item_contents.appendChild(item_header);
                item_contents.appendChild(item_img);
                item_contents.appendChild(item_text);
            }

            fetch('/static/grocery_list.json')
            .then(response => response.json())  // Parse the JSON content
            .then(data => {
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    construct_item(data[i])
                }
            })
            .catch(error => {
                console.error('Error loading the JSON file:', error);
            });
        </script>
    {% endif %}

    </body>
</html>