<!DOCTYPE html>
<html>
    <head>
        <!-- <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'> -->
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <title></title>


    </head>
    <body>
    {% if current_user.is_authenticated %}
        <div id="nav_header">
            <div id="nav_site_name" class="nav_page_text">Grocery Finder App</div>
            <div id="nav_flex_box">
                <div id="nav_grocery_list_display" class="nav_page_text">View Grocery List</div>
                <div id="nav_grocery_finder" class="nav_page_text nav_selected_text">Grocery Finder</div>
                <a id="nav_history" class="nav_page_text" href="/history">History</a>
                <div id="nav_summary_goals" class="nav_page_text">Summary/Goals</div>
                <div id="nav_logout_button" class="click_button">
                    <a href="{{ url_for('auth.logout') }}">
                        <div id="nav_logout_text" class="click_button_text">Log Out</div>
                    </a>
                </div>
            </div>
        </div>

        <div id="description_flex_box">
            <div id="description_header">Grocery Finder</div>
            <div id="description_text">
                Enter your location to get a summary of nearby groceries, 
                prioritized by best nutrition-per-dollar. Use the filter 
                options to specify what types of groceries you're looking for.
            </div>
        </div>

    <form id="search_location_form" action="{{ url_for('kroger') }}" method="GET">
        <div id="search_container">
            <div id="location_input" class="input_field_region">
            <div class="input_field_background"></div>
            <div id="location_input_field_header" class="input_field_header">Search Location:</div>
            <!--<div id="location_input_field_divline" class="input_field_divline"></div>-->
            <input type="text" id="location_input_field_input_text" class="input_field_input_text" 
                name="zipcode" placeholder="... [Ex: 48109]">
            </div>

            <div id="nutrition_selector" class="input_field_region">
                <div class="input_field_background"></div>
                <label for="nutrition" id="nutrition_input_field_header" class="input_field_header">Select Nutrient:</label>
                <select id="nutrition" class="input_field_input_text" name="nutrition">
                    <option value="None">None</option>
                    <option value="Calcium">Calcium</option>
                    <option value="Iron">Iron</option>
                    <option value="Sodium">Sodium</option>
                    <option value="Vitamin A">Vitamin A</option>
                    <option value="Vitamin C">Vitamin C</option>
                    <option value="Cholesterol">Cholesterol</option>
                    <option value="Saturated Fat">Saturated Fat</option>
                    <option value="Protein">Protein</option>
                    <option value="Carbohydrate">Carbohydrate</option>
                    <option value="Energy">Energy</option>
                    <option value="Total Sugars">Total Sugars</option>
                    <option value="Dietary Fiber">Dietary Fiber</option>
                    <option value="Potassium">Potassium</option>
                    <option value="Trans Fat">Trans Fat</option>
                    <option value="Total Fat">Total Fat</option>
                </select>
            </div>

            <div id="search_enter_button" class="click_button">
                <input type="submit" class="click_button_text" value="Enter">
            </div>
        </div>
    </form>

        
        <div id="list_of_items">
            <div id="location">
                {% if location_in %}
                <h2>Showing results for {{ location_in }}:</h2>
                {% endif %}
            </div>

            <div id="left_side_list"></div>
            <div id="right_side_list"></div>
        </div>


        <!-- FORM FOR PROMPTING GROCERY LIST SAVING -->
        <form id="saveGroceryList">
            <button type="submit">Send</button>
        </form>

        <!--
        <div class="score_box">
            <div class="health_box">
                <h3 class="score_header">Health Score</h3>
                <p class="score_value">&#11088; &#11088; &#11088;</p>
            </div>
            <div class="cost_box">
                <h3 class="score_header">Cost Score</h3>
                <p class="score_value">&#11088; &#11088;</p>
            </div>
        </div>
        -->

        <div id="grocery_list_popup_overlay"></div>
        <div id="grocery_list_popup">
            <h3 id="grocery_list_header">Current Grocery List</h3>
            <button id="clear_grocery_list">CLEAR LIST</button>
            <button id="save_grocery_list">SAVE LIST</button>
            <p id="grocery_list_list"></p>
        </div>

        <script>
            /////////////// RENDER GROCERIES ONTO LIST ///////////////
            var construct_star_boxes = function(scores_box, h_score, c_score) {
                // Create health score box and contents
                var health_score_box = document.createElement("div");
                health_score_box.classList.add("health_box");
                var health_score_header = document.createElement("h3");
                health_score_header.classList.add("score_header");
                health_score_header.innerHTML = "Health Score";
                var health_score_content = document.createElement("p");
                health_score_content.classList.add("score_value");
                for (var i = 0; i < 5; i++) {
                    if (i <= h_score*5) {
                        health_score_content.innerHTML += "&#11088;";
                    }
                    else {
                        health_score_content.innerHTML += "<span style='font-size:48px'>&#9734;</span>";
                    }
                }

                // Create cost score box and contents
                var cost_score_box = document.createElement("div");
                cost_score_box.classList.add("cost_box");
                var cost_score_header = document.createElement("h3");
                cost_score_header.classList.add("score_header");
                cost_score_header.innerHTML = "Cost Score";
                var cost_score_content = document.createElement("p");
                cost_score_content.classList.add("score_value");
                for (var i = 0; i < 5; i++) {
                    if (i <= c_score*5) {
                        cost_score_content.innerHTML += "&#11088;";
                    }
                    else {
                        cost_score_content.innerHTML += "<span style='font-size:48px'>&#9734;</span>";
                    }
                }

                scores_box.appendChild(health_score_box);
                health_score_box.appendChild(health_score_header);
                health_score_box.appendChild(health_score_content);
                scores_box.appendChild(cost_score_box);
                cost_score_box.appendChild(cost_score_header);
                cost_score_box.appendChild(cost_score_content);
            }

            var MY_LEFT = true;
            var left_item_box = document.getElementById("left_side_list");
            var right_item_box = document.getElementById("right_side_list");
            var construct_item = function(product_entry) {
                // Create main item box
                var item = document.createElement("div");
                item.classList.add("item");

                // Add item contents
                var item_contents = document.createElement("div");
                item_contents.classList.add("item_contents");

                var item_header = document.createElement("h3");
                item_header.classList.add("item_header");
                item_header.innerHTML = product_entry["Product name"];

                // Add button for interaction
                var item_add_button = document.createElement("button");
                item_add_button.classList.add('item_add_button');
                item_add_button.id = product_entry['upcID'];
                item_add_button.innerHTML = "Add";
                item_add_button.addEventListener("click", function() {
                    addGroceryItem(item_add_button)
                    }
                );

                var item_img = document.createElement("img");
                //console.log(product_entry["image"])
                item_img.src = product_entry["image"];


                // Create main scores box and add scores
                var main_score_box = document.createElement("div");
                main_score_box.classList.add("score_box");
                construct_star_boxes(main_score_box, 
                    product_entry["Health score"], product_entry["Cost score"])

                var item_text = document.createElement("p");
                item_text.classList.add("item_text");
                item_text_str = "";
                
                item_text_str += "<strong>Store: </strong>" + product_entry["Store name"] 
                    + ", at " + product_entry["Street"] + ", " + product_entry["City"]
                    + "<br>";
                item_text_str += "<strong>Cost: </strong>$" + 
                    product_entry["Product cost"] + "<br><br>";
                item_text_str += "<strong>Nutrititon highlights:</strong>";
                    item_text_str += "<ul>";
                for (let i = 0; i < product_entry["Nutrititon highlights"].length; i++) {
                    component = product_entry["Nutrititon highlights"][i];
                    item_text_str += "<li><strong>" + component[0] + ":</strong> "
                        + (component[1]).toFixed(1) + "% Daily Value";
                }
                item_text_str += "</ul>";
                item_text.innerHTML = item_text_str;

                var item_box_to_add_to = right_item_box;
                if (MY_LEFT) {
                    item_box_to_add_to = left_item_box;
                }
                MY_LEFT = !MY_LEFT;

                item_box_to_add_to.appendChild(item);
                item.appendChild(item_contents);
                item_contents.appendChild(item_header);
                item_contents.appendChild(item_add_button);
                item_contents.appendChild(item_img);
                item_contents.appendChild(main_score_box);
                item_contents.appendChild(item_text);
            }

            /////////////// LOAD GROCERY SEARCH DATA INTO PAGE ///////////////
            GROCERIES_FOUND = {} // Holds raw data
            fetch('/static/grocery_results.json')
            .then(response => response.json())  // Parse the JSON content
            .then(data => {
                console.log(data)
                for (var i = 0; i < data[1].length; i++) {
                    construct_item(data[1][i]);
                    GROCERIES_FOUND[data[0][i]["upcID"]] = data[0][i];
                }
            })
            .catch(error => {
                console.error('Error loading the JSON file:', error);
            });

            /////////////// LOAD GROCERY LIST DATA INTO PAGE ///////////////


            /////////////// CODE FOR CREATING GROCERY LIST ///////////////
            GROCERY_LIST = {}
            fetch('/static/current_grocery_list.json')
            .then(response => response.json())  // Parse the JSON content
            .then(data => {
                //console.log(data)
                for (key in data) {
                    GROCERY_LIST[key] = data[key];
                }
            })
            .catch(error => {
                console.error('Error loading the JSON file:', error);
            });

            async function addGroceryItem(button) {
                button.textContent = "Added!";

                if (button.id in GROCERY_LIST) {
                    GROCERY_LIST[button.id]['count'] += 1;
                }
                else {
                    GROCERY_LIST[button.id] = GROCERIES_FOUND[button.id];
                    GROCERY_LIST[button.id]['count'] = 1;
                }
                //console.log(GROCERY_LIST);

                const response = await fetch('/save-current-grocery-list', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(GROCERY_LIST)
                });
                
                //const result = await response.text();
                //alert(result);

                // After 0.5 seconds, restore original text
                setTimeout(() => {
                    button.textContent = "Add";
                }, 500);
            }

            /////////////// CODE FOR DISPLAYING GROCERY LIST ///////////////
            GROCERY_LIST_IS_DISPLAYED = false;
            var display_grocery_list = function() {
                var nav_grocery_list_display = document.getElementById('nav_grocery_list_display');
                var grocery_list_popup_overlay = document.getElementById('grocery_list_popup_overlay');
                var grocery_list_popup = document.getElementById('grocery_list_popup');
                
                if (GROCERY_LIST_IS_DISPLAYED) {
                    grocery_list_popup_overlay.style.display = 'none';
                    grocery_list_popup.style.display = 'none';
                    nav_grocery_list_display.innerHTML = "View Grocery List";
                    GROCERY_LIST_IS_DISPLAYED = false;
                }
                else {
                    var grocery_list_list = document.getElementById('grocery_list_list');
                    grocery_list_list.innerHTML = "";
                    for (key in GROCERY_LIST) {
                        grocery_list_list.innerHTML += "&nbsp;&nbsp;-&nbsp;&nbsp;" + GROCERY_LIST[key]['Name']
                        grocery_list_list.innerHTML += "&nbsp;&nbsp;(" + GROCERY_LIST[key]['count'] + "x)<br>"
                    }

                    grocery_list_popup_overlay.style.display = 'block';
                    grocery_list_popup.style.display = 'block';
                    nav_grocery_list_display.innerHTML = "Hide Grocery List";
                    GROCERY_LIST_IS_DISPLAYED = true;
                }
            }
            document.getElementById('nav_grocery_list_display').addEventListener('click', display_grocery_list)


            /////////////// CODE FOR SAVING/CLEARING GROCERY LIST ///////////////
            document.getElementById('save_grocery_list').addEventListener('click', async function(e) {
                e.preventDefault();
                
                // Reformatting GROCERY_LIST
                GROCERY_LIST_history_format = {
                    'groceries': [],
                }
                for (key in GROCERY_LIST) {
                    GROCERY_LIST_history_format['groceries'].push(GROCERY_LIST[key]);
                }

                const response = await fetch('/save-final-grocery-list', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(GROCERY_LIST_history_format)
                });
                
                const result = await response.text();
                alert(result);
            });

            var clear_grocery_list_func = function() {
                GROCERY_LIST = {};
                var grocery_list_list = document.getElementById('grocery_list_list');
                grocery_list_list.innerHTML = "";
            }
            document.getElementById('clear_grocery_list').addEventListener('click', clear_grocery_list_func)

            
        </script>
    {% endif %}

    </body>
</html>